@font-face {
	font-family: "flower";
	src: url("Moon\ Flower.ttf");
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Flower";
	background-color:;
}

h3{
	font-size: 50px;
}



.season-container {
	margin-bottom: 30px;
}

.month-card {
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
}

.month-card img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.month-card-body {
	padding: 15px;
	text-align: center;
}

#spring {
	color: hotpink;
	font-weight: bold;
		text-decoration: underline;
}

#summer {
	color: rgb(144, 194, 69);
	font-weight: bold;
		text-decoration: underline;
}

#fall {
	color: orange;
	font-weight: bold;
		text-decoration: underline;
}

#winter {
	color: gray;
	font-weight: bold;
		text-decoration: underline;
}

.winterImg {
	width: 120px;
	margin:10px;
}

.winterImg:hover{
	transform: scale(1.1);
}

.season-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid{

}

.favicon {
	filter: sepia(1);
}
